<div class="contact-tile">
  <div class="contact-name" style="margin: 5px 0px 5px 0px;">
    <a ng-href="#/contacts/{{contact.id}}" style="color: #000; text-decoration: none;">
      <strong>{{contact.name}}</strong>
    </a>
  </div>
  <div class="contactButtonGroup">
    <icon-link href="#/contacts/{{contact.id}}" ng-src="img/ellipsis.png" alt="details..."></icon-link>
    <icon-link href="#/edit/{{contact.id}}" ng-src="img/edit.png" alt="edit..."></icon-link>
    <icon-link href="#/delete/{{contact.id}}" ng-src="img/delete.png" alt="delete..."></icon-link>
  </div>
</div>
