<div class="container">

    <h1 class="page-header" style="top-margin: -10px">Delete Contact</h1>

    <div ng-show="deleteContact.id > 0">
        <contact-detail-display contact="deleteContact"></contact-detail-display>

        <div class="row">
            <div class="col-xs-12">
                <button type="submit" ng-click="delete()" class="btn btn-primary" style="margin: 5px">
                    Delete
                </button>
                <button type="button" ng-click="cancel()" class="btn btn-default" style="margin: 5px">Cancel
                </button>
            </div>
        </div>

    </div>

    <div ng-hide="deleteContact.id > 0">
        <p>Invalid contact id!</p>
    </div>

</div>