.contactTileList {
  background-color: #eee;
  margin: 5px 5px 5px 5px;
  border-radius: 10px;
  border: solid thin #999;
  padding: 5px 0px 5px 0px;
  text-align: center
}
.contactButtonGroup {
  display: inline-block;
  margin: 5px 5px 5px 5px;
  border: solid thin #999;
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
  background-color: #fff
}
.groupTileList {
  background-color: #eee;
  margin: 5px 5px 5px 5px;
  border-radius: 10px;
  border: solid thin #999;
  padding: 5px 0px 5px 0px;
  text-align: center
}
