<div class="delete-template">

  <h1 class="page-header" style="top-margin: -10px">Delete Contact</h1>

  <div class="row contacts-list">

    <div class="col-md-4 portfolio-item" style="background-color: #eee; margin: 5px 5px 5px 5px; border-radius: 10px; border: solid thin #999; padding: 5px 5px 5px 5px; text-align: left">

      <div ng-show="contact.id !== ''">
        <contact-detail-display contact="deleteContact"></contact-detail-display>

        <br/>

        <div class="row">
          <div class="col-xs-12">
            <button type="submit" ng-click="delete()" class="btn btn-primary" style="margin: 5px">
              Delete
            </button>
            <button type="button" ng-click="cancel()" class="btn btn-default" style="margin: 5px">Cancel
            </button>
          </div>
        </div>

      </div>

      <div ng-hide="contact.id !== ''">
        <p>Invalid contact id!</p>
      </div>

    </div>
  </div>

</div>
