<div class="group-details-template">

  <h1 class="page-header" style="top-margin: -10px">{{groupName}}
    Group Contacts</h1>

  <div class="row contacts-list">
    <div class="col-xs-5 col-sm-3 col-md-3 col-lg-2 portfolio-item contactTileList" ng-repeat="contact in contactsInGroup | orderBy: 'name'">
      <contact-tile contact="contact"></contact-tile>
    </div>
  </div>

  <div ng-show="contactsInGroup === undefined || contactsInGroup === null || contactsInGroup.length === 0">
    No contacts in this group.
  </div>

</div>
