<div class="new-contact-template">

  <h1 class="page-header" style="top-margin: -10px">New Contact</h1>

  <form name="newContactForm" novalidate>

    <fieldset>
      <div class="row" style="padding: 5px">
        <div class="col-xs-1">
          <label for="name">Name:
          </label>
        </div>
        <div class="col-xs-11">
          <input  id="name" maxlength="20" minlength="2" name="name" ng-model="newContact.name" placeholder="first name + last name" required type="text"/>
          <img  height="18px" ng-show="newContactForm.name.$invalid" src="img/red_thumbs_down.png" style="opacity: 0.5;"/>
          <span class="required" ng-show="newContactForm.name.$error.required" style="color: red">required</span>
          <span class="invalid" ng-show="!newContactForm.name.$error.required && newContactForm.name.$error.minlength" style="color: red">2 chars minimum</span>
          <img  height="18px" ng-show="newContactForm.name.$valid" src="img/green_thumbs_up.png" style="opacity: 0.5;"/>
        </div>
      </div>

      <div class="row" style="padding: 5px">
        <div class="col-xs-1">
          <label for="phone">Phone:
          </label>
        </div>
        <div class="col-xs-11">
          <input  id="phone" name="phone" ng-model="newContact.phone" pattern="\d{3}\-\d{3}\-\d{4}" placeholder="xxx-xxx-xxxx" required type="text"/>
          <img  height="18px" ng-show="newContactForm.phone.$invalid" src="img/red_thumbs_down.png" style="opacity: 0.5;"/>
          <span class="required" ng-show="newContactForm.phone.$error.required" style="color: red">required</span>
          <span class="invalid" ng-show="!newContactForm.phone.$error.required && newContactForm.phone.$error.pattern" style="color: red">must be in xxx-xxx-xxxx format</span>
          <img  height="18px" ng-show="newContactForm.phone.$valid" src="img/green_thumbs_up.png" style="opacity: 0.5;"/>
        </div>
      </div>

      <div class="row" style="padding: 5px">
        <div class="col-xs-1">
          <label for="email">Email:
          </label>
        </div>
        <div class="col-xs-11">
          <input  id="email" name="email" ng-model="newContact.email" placeholder="you@domain.com" required type="email"/>
          <img  height="18px" ng-show="newContactForm.email.$invalid" src="img/red_thumbs_down.png" style="opacity: 0.5;"/>
          <span class="required" ng-show="newContactForm.email.$error.required" style="color: red">required</span>
          <span class="invalid" ng-show="!newContactForm.email.$error.required && newContactForm.email.$error.email" style="color: red">not a valid email address</span>
          <img  height="18px" ng-show="newContactForm.email.$valid" src="img/green_thumbs_up.png" style="opacity: 0.5;"/>
        </div>
      </div>

      <div class="row" style="padding: 5px">
        <div class="col-xs-1">
          <label for="groupName">Group:
          </label>
        </div>
        <div class="col-xs-11">
          <select id="groupName" name="groupName" ng-model="newContact.groupName" required>
            <option ng-repeat="group in groups" value="{{group.name}}">{{group.name}}</option>
          </select>
          <img  height="18px" ng-show="newContactForm.groupName.$invalid" src="img/red_thumbs_down.png" style="opacity: 0.5;"/>
          <span class="required" ng-show="newContactForm.groupName.$error.required" style="color: red">required</span>
          <img  height="18px" ng-show="newContactForm.groupName.$valid" src="img/green_thumbs_up.png" style="opacity: 0.5;"/>
        </div>
      </div>
    </fieldset>

    <div class="row">
      <div class="col-xs-1">
        &nbsp;
      </div>
      <div class="col-xs-11">
        <button class="btn btn-primary" ng-click="save()" ng-disabled="newContactForm.$invalid" style="margin: 5px" type="submit">
          Save
        </button>
        <button class="btn btn-default" ng-click="cancel()" style="margin: 5px" type="button">Cancel</button>
      </div>
    </div>

  </form>

</div>
